<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CoreCreditV1">

	<listeners>
		<listener class-name="in.corecreditv1.utilities.ReportingListener" />
	</listeners>

  <test thread-count="5" name="BankingApp">
    <parameter name="browser" value="chrome" />
    <classes>
    <!--  <class name="in.corecreditv1.testcases.TC_Login_001"/> 
      <class name="in.corecreditv1.testcases.TC_LoginDDT_002"/> -->
      <class name="in.corecreditv1.testcases.TC_AddCutomerTest_003"/>
    </classes>
  </test> <!-- TestNG -->
</suite> <!-- Suite -->


